<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<%- include('layouts/navbar') -%>

<body>
    <!--Main Navigation-->


  <!-- Background image -->
  <div
    id="intro"
    class="bg-image"
    style="
    background-image: url(https://thumbs.dreamstime.com/b/female-hand-holding-cup-hot-cocoa-chocolate-white-wooden-table-top-view-cup-hot-cocoa-chocolate-236211684.jpg);
    height: 35vh;
  "
  >
    <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.4);">
      <div class="container d-flex align-items-center text-center h-40">
        <div class="mt-5">
          <h1 class="mt-5 display-4">Recent Customz Post</h1>
        </div>
      </div>
  </div>
</div>
<!-- Background image -->

  <div class="container mt-5 mb-2">
    <br>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(var i=0; i< blogposts.length; i++) { %>
          <% if(blogposts != '') { %>
          <diV class="post-preview">
            <a class="hover-shadow" href="/post/<%= blogposts[i]._id %>">
              <h2 class="post-title">
                <%= blogposts[i].title %>
              </h2>
            </a>
            <h4 class="post-subtitle text-wrap">
              <%= blogposts[i].body %>
            </h4>
            <p class="post-meta">
              Click in this post to read more...
            </p>
          </diV>
          <hr/>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>


    <%- include('layouts/scripts') -%>

    <%- include('layouts/footer') -%>
    
</body>
</html>